BREVE DEFINICIÓN DE LISTAS
##una lista es una colección ordenada de elementos que pueden ser de distintos tipos (números, cadenas, objetos, etc.). Se definen entre corchetes [] y los elementos están separados por comas.

#METODOS Y EJEMPLO

In [ ]:
#1. pop: Elimina y devuelve el elemento en la posición dada
lista1=[2,5,7,7,11,62]
lista2=["Diego","Alejandro","Manjarres","Molina","Pedro","Segundo","Manjarres","Fragozo"]

In [ ]:
# 2. append(): Agrega un elemento al final de la lista.
# Agregamos un año arbitrario a la lista de fechas
fechas.append(2024)
print("1. Append:", fechas)  # Salida: [2, 5, 7, 7, 11, 60,]

NameError: name 'fechas' is not defined

In [ ]:
# 3. extend(): Agrega múltiples elementos al final de la lista.
# Agregamos una nueva fecha [15, 8, 99] al final de la lista de fechas
fechas.extend([15, 8, 99])
print("2. Extend:", fechas)  # Salida: [2, 5, 7, 7, 11, 60, 2024, 15, 8, 99]

In [ ]:
# 4. insert(): Inserta un elemento en una posición específica.
# Insertamos un nuevo nombre en la posición 1 de la lista de nombres
nombres.insert(1, "carlos eduardo manjarres")
print("3. Insert:", nombres)  # Salida: ['diego alejandro manjarres molina', 'carlos eduardo manjarres', 'pedro segundo manjarres fragozo']

In [ ]:
# 5. remove(): Elimina la primera aparición de un elemento.
# Eliminamos el año 2024 de la lista de fechas
fechas.remove(2024)
print("4. Remove:", fechas)  # Salida: [2, 5, 7, 7, 11, 60, 15, 8, 99]

In [ ]:
# 6. index(): Devuelve el índice de la primera aparición del elemento.
# Buscamos el índice de la primera aparición del número 7 en la lista de fechas
indice_7 = fechas.index(7)
print("6. Index del número 7:", indice_7)

In [ ]:
# 7. count(): Cuenta el número de veces que aparece un elemento en la lista.
# Contamos cuántas veces aparece el número 7 en la lista de fechas
repetidos_7 = fechas.count(7)
print("7. Count del número 7:", repetidos_7)

In [ ]:
# 8. reverse(): Invierte el orden de los elementos en la lista.
# Invertimos la lista de fechas
fechas.reverse()
print("8. Reverse:", fechas)

In [ ]:
# 9. sort(): Ordena los elementos de la lista.
# Ordenamos la lista de fechas de menor a mayor
fechas.sort()
print("9. Sort:", fechas)

In [ ]:
# 10. clear(): Elimina todos los elementos de la lista.
# Limpiamos todos los elementos de la lista de nombres
nombres.clear()
print("10. Clear:", nombres)

#Breve definicon de diccionarios

In [ ]:
# Definición de los diccionarios
dic1 = {"nombre": "Diego", "apellido1": "Manjarres"}
dic2 = {"dia": 2, "mes": 5, "año": 2007}

#METODOS Y EJEMPLO

In [ ]:
# 1. get(): Obtiene el valor de una clave especificada.
nombre = dic1.get("nombre")
print("1. Get nombre:", nombre)  # Salida: "Diego"

In [ ]:
# 2. keys(): Devuelve una vista de todas las claves del diccionario.
claves_dic1 = dic1.keys()
print("2. Keys dic1:", list(claves_dic1))  # Salida: ['nombre', 'apellido1']

In [ ]:
# 3. values(): Devuelve una vista de todos los valores del diccionario.
valores_dic1 = dic1.values()
print("3. Values dic1:", list(valores_dic1))  # Salida: ['Diego', 'Manjarres']

In [ ]:
# 4. items(): Devuelve una vista de los pares clave-valor del diccionario.
items_dic1 = dic1.items()
print("4. Items dic1:", list(items_dic1))  # Salida: [('nombre', 'Diego'), ('apellido1', 'Manjarres')]

In [ ]:
# 5. update(): Actualiza el diccionario con otro diccionario o con pares clave-valor.
dic1.update({"apellido2": "Molina"})
print("5. Update dic1:", dic1)  # Salida: {'nombre': 'Diego', 'apellido1': 'Manjarres', 'apellido2': 'Molina'}

In [ ]:
# 6. pop(): Elimina y devuelve el valor de una clave especificada.
apellido1 = dic1.pop("apellido1")
print("6. Pop apellido1:", apellido1)  # Salida: 'Manjarres'
print("6. Dic1 después del pop:", dic1)  # Salida: {'nombre': 'Diego', 'apellido2': 'Molina'}

In [ ]:
# 7. popitem(): Elimina y devuelve el último par clave-valor agregado.
ultimo_item = dic1.popitem()
print("7. Popitem:", ultimo_item)  # Salida: ('apellido2', 'Molina')
print("7. Dic1 después del popitem:", dic1)  # Salida: {'nombre': 'Diego'}

In [ ]:
# 8. clear(): Elimina todos los elementos del diccionario.
dic1.clear()
print("8. Clear dic1:", dic1)  # Salida: {}

In [ ]:
# 9. copy(): Devuelve una copia superficial del diccionario.
dic2_copia = dic2.copy()
print("9. Copy dic2:", dic2_copia)  # Salida: {'dia': 2, 'mes': 5, 'año': 2007}

In [ ]:
# 10. setdefault(): Devuelve el valor de una clave, y si no existe, la agrega con un valor predeterminado.
año = dic2.setdefault("año", 2023)  # No se agrega porque ya existe
print("10. Setdefault año:", año)  # Salida: 2007
print("10. Dic2 después del setdefault:", dic2)  # Salida: {'dia': 2, 'mes': 5, 'año': 2007}

#EJERCICIOS LISTAS - DICCIONARIOS

In [ ]:
#Ejercicio 1
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
#Ejercicio 2
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", "quis"]
lista_unida = [a + b for a, b in zip(lista1, lista2)]
print(lista_unida)

['Mi', 'nombre', 'es', 'equis']

In [ ]:
#Ejercicio 3
lista = [1, 2, 3, 4, 5, 6, 7]
doble_lista = [x ** 2 for x in lista]
print(doble_lista)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Ejercicio 5
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for a, b in zip(list1, reversed(list2)):
    print(a, b)

10 400
20 300
30 200
40 100

In [ ]:
#Ejercicio 6
lista = ["Mike", "", "Emma", "Kelly", "", "Brad"]
lista_sin_vacios = [x for x in lista if x]
print(lista_sin_vacios)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#Ejercicio 7
lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Ejercicio 8
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]
lista1[2][1][2].extend(lista2)
print(lista1)

In [ ]:
#Ejercicio 9
lista = [5, 10, 15, 20, 25, 50, 20]
index = lista.index(20)
lista[index] = 200
print(lista)

In [ ]:
#Ejercicio 10
lista = [5, 20, 15, 20, 25, 50, 20]
lista_sin_duplicados = list(set(lista))
print(lista_sin_duplicados)

In [ ]:
#Ejercicio 11
from collections import Counter
lista = [5, 20, 15, 20, 25, 50, 20]
conteo = Counter(lista)
for key, value in conteo.items():
    print(f"{key} = {value}")

In [ ]:
#Ejercicio 12
lista = [5, 20, 15, 20, 25, 50, 20]
lista.sort()
print("Menor a mayor:", lista)
lista.sort(reverse=True)
print("Mayor a menor:", lista)

In [ ]:
#Ejercicio 13
import math
lista = [5, 20, 15, 20, 25, 50, 20]
suma = sum(lista)
multiplicacion = math.prod(lista)
maximo = max(lista)
minimo = min(lista)
print("Suma:", suma)
print("Multiplicación:", multiplicacion)
print("Máximo:", maximo)
print("Mínimo:", minimo)

In [ ]:
#Ejercicio 14
lista1 = [1, 2, 3, 4, 5]
lista2 = [4, 5, 6, 7, 8]
diferencia = list(set(lista1) - set(lista2))
print("Diferencia:", diferencia)

In [ ]:
#Ejercicio 15
lista = [23, 1, 45, 34, 7, 88, 12, 15, 67, 3]
lista.sort()
segundo_menor = lista[1]
tercer_menor = lista[2]
print("Segundo menor:", segundo_menor)
print("Tercer menor:", tercer_menor)

In [ ]:
#Ejercicio 16
lista = [5, 20, 15, 20, 25, 50, 20]
lista1 = [lista[i] + lista[i - 1] for i in range(1, len(lista))]
lista2 = [lista[i] - lista[i - 1] if lista[i] - lista[i - 1] > 0 else 0 for i in range(1, len(lista))]
lista3 = [x * 2 for x in lista]
lista4 = [x ** 2 for x in lista]
print("Lista1:", lista1)
print("Lista2:", lista2)
print("Lista3:", lista3)
print("Lista4:", lista4)

In [ ]:
#Ejercicio 17
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 5
resultado = [lista[i::n] for i in range(n)]
print(resultado)

In [ ]:
#Ejercicio 18
lista = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
lista_sin_ceros = [x for x in lista if x != 0]
lista_sin_ceros.extend([0] * lista.count(0))
print(lista_sin_ceros)

#Ejercicios de Diccionarios

In [ ]:
#Ejercicio 1
colores = ["Black", "Red", "Maroon", "Yellow"]
codigos = ["#000000", "#FF0000", "#800000", "#FFFF00"]
diccionario = [{"color_name": colores[i], "color_code": codigos[i]} for i in range(len(colores))]
print(diccionario)

In [ ]:
#Ejercicio 2
cuadrados = {i: i ** 2 for i in range(1, 16)}
print(cuadrados)

In [ ]:
#Ejercicio 3
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d3 = d1.copy()  # Copia de d1

for key, value in d2.items():
    d3[key] = d3.get(key, 0) + value

print(d3)

In [ ]:
#Ejercicio 4
lista = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
valores_unicos = set(val for dic in lista for val in dic.values())
print(valores_unicos)

In [ ]:
#Ejercicio 5
palabra = "Anita"
frecuencia = {}

for letra in palabra:
    letra = letra.upper()
    if letra in frecuencia:
        frecuencia[letra] += 1
    else:
        frecuencia[letra] = 1

print(frecuencia)

In [ ]:
#Ejercicio 6
productos = {
    "Producto1": 10,
    "Producto2": 15,
    "Producto3": 30,
    "Producto4": 25,
    "Producto5": 50,
    "Producto6": 5,
    "Producto7": 10,
    "Producto8": 15,
    "Producto9": 20,
    "Producto10": 35,
    "Producto11": 45,
    "Producto12": 60,
    "Producto13": 70,
    "Producto14": 85,
    "Producto15": 40
}

ventas = [
    {"Producto1": 2, "Producto3": 1, "Producto7": 3},
    {"Producto2": 1, "Producto8": 2, "Producto10": 1},
    {"Producto6": 4, "Producto14": 1},
    {"Producto5": 1, "Producto9": 3, "Producto12": 2}
]

total_productos = sum(cantidad for venta in ventas for cantidad in venta.values())
total_ganancia = sum(productos[prod] * cantidad for venta in ventas for prod, cantidad in venta.items())
compra_mayor = max(sum(productos[prod] * cantidad for prod, cantidad in venta.items()) for venta in ventas)
total_clientes = len(ventas)

print("Total productos vendidos:", total_productos)
print("Ganancia total:", total_ganancia)
print("Compra más alta:", compra_mayor)
print("Total clientes atendidos:", total_clientes)